* {
    box-sizing: border-box;
}

body {
    background: url(https://i.imgur.com/C5HnVYR.jpg) no-repeat center center fixed;
    /* background: url(/images/background-image.jpeg) no-repeat center center fixed; */
    background-size: 100% 110%;

    background-color: beige;
    font-family: 'Charmonman';
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px 75px 1fr 1fr 1fr 100px;
    grid-template-areas:
        "a a a b b b ."
        "f f f b b b ."
        "c c . e e e ."
        "c c . e e e ."
        ". d d e e e ."
        ". . . . . . .";
}

header {
    font-size: 600%;
    height: 75px;
    grid-area: a;
    margin-left: 10%;
    align-self: center;
    text-shadow: rgb(99, 60, 2) 1px 0 10px;
}

#tagline {
    grid-area: f;
    margin-top: 7%;
    margin-left: 12%;
    align-self: bottom;
    color: black;
    text-shadow: rgb(99, 60, 2) 1px 0 10px;
}

#message {
    grid-area: b;
    justify-self: center;
    margin: auto;
    padding: 10px 50px 10px 50px;
    border: .5rem dashed black;
    border: 4mm ridge rgb(87, 47, 10);
    text-shadow: rgb(99, 60, 2) 1px 0 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 7vmin);
    grid-template-rows: repeat(10, 7vmin);
    grid-area: e;
    justify-self: center;
    margin-top: 30px;
}

#board>div {
    height: 100%;
    width: 100%;
    border: solid rgb(87, 47, 10);
    margin: 0;
}

#instructions {
    grid-area: c;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bolder;
    align-content: end;
    font-weight: bolder;
    color: black;
    text-shadow: rgb(99, 60, 2) 1px 0 10px;
}

ol {
    margin-top: 5;
}

h2 {
    margin-bottom: 0%;
    text-decoration: underline;
    justify-content: center;
}

h3 {
    margin-bottom: -5%;
    text-decoration: underline;
}

#play-again {
    grid-area: d;
    border: solid burlywood;
    border-radius: 20%;
    background-color: rgb(182, 135, 64);
    justify-self: center;
    align-self: start;
    margin-top: -8%;
    font-size: 3vmin;
    color: antiquewhite;
    font: 'charmonman';
}